_Store
.rat-out
*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.swp
*.tokens
.classpath
.externalToolBuilders/
.gradle/
.vscode/
*.code-workspace
.idea/*
!.idea/codeStyles/
.loadpath
.metadata
.prefs
.project
.recommenders/
.settings
.springBeans
.vertx
bin/
classes/
local.properties
target/
tmp/
build/
out/
.idea/
